In [1]:
from math import pi
class task1:
    
    def __init__(own, r1=0, r2=0):
        own.r1 = r1
        own.r2 = r2
    def __str__(own):
        return "Task 1"
        
    def task1_1(own,a=2000,b=3200):
        """Number divisible by 7 but not mulitple of 5"""
        print("Task 1.1: Number divisible by 7 but not mulitple of 5")
        print("-----------------------------------------------------------------")
        result = [] 
        out = ""# to store output
        while a <= b:
            if a%7 ==0 and a%5 != 0:
                result = result + [str(a)]
                out = ",".join(result)
            a=a+1
        print(out)    
        return out
    def task1_2(own, fname="Sandeep", lname="Pandey"):
        """User enter firstname and lastname and make it reverse"""
        print("Task 1.2: User enter firstname and lastname and make it reverse")
        print("-----------------------------------------------------------------")
        fname=input("Enter First name : ")
        lname=input("Enter Last name : ")
        rev = lname+ " " +fname
        print(rev)
        return rev
    def task1_3(own, d=12):
        """Volume of sphere"""
        print("Task 1.3: Volume of sphere")
        print("-----------------------------------------------------------------")
        Vol_sphere = (4/3)*pi*((d/2)**3) 
        print(Vol_sphere)
        return Vol_sphere

In [2]:
t = task1()
print(t)
t.task1_1()
t.task1_2()
t.task1_3(12)

Task 1
Task 1.1: Number divisible by 7 but not mulitple of 5
-----------------------------------------------------------------
2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199
Task 1.2: User enter firstname and lastname and make it reverse
-----------------------------------------------------------------
Enter First name : Sandeep
Enter Last name : Pandey
Pandey Sandeep
Task 1.3: Volume of sphere
-----------------------------------------------------------------
904.7786842338603

904.7786842338603

In [3]:
class task2:
    
    def __init__(own, r1=0, r2=0):
        own.r1 = r1
        own.r2 = r2
    def __str__(own):
        return "Task 2"
        
    def task2_1(own):
        """Accept comma separated values and convert in list"""
        print("Task 2.1: Accept comma separated values and convert in list")
        print("-----------------------------------------------------------------")
        l = input("Enter comma separated values : ")
        l = l.split(",")
        print(l)
        return l
    def task2_2(own):
        """Print pattern"""
        print("Task 2.2: Print pattern")
        print("-----------------------------------------------------------------")
        for i in range(9):
            if(i <= 4):
                for j in range(i+1):
                    print("*", end=" ")
                print("\n")
            else:
                for j in range(i,9):
                    print("*", end=" ")
                print("\n")
        return 1
    def task2_3(own):
        """Enter a word to reverse"""
        print("Task 2.3: Enter a word to reverse: ")
        print("-----------------------------------------------------------------")
        word = input("Enter a word to reverse")
        print(word[::-1])
    
        return word[::-1]
    def task2_4(own):
        """Print the string in sample"""
        print("Task 2.4: Print the string in sample")
        print("-----------------------------------------------------------------")
        print("WE, THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a SOVEREIGN,! \n\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\t and to secure to all its citizens") 
        return 1

In [4]:
t = task2()
print(t)
t.task2_1()
t.task2_2()
t.task2_3()
t.task2_4()

Task 2
Task 2.1: Accept comma separated values and convert in list
-----------------------------------------------------------------
Enter comma separated values : 1,lol,data,6
['1', 'lol', 'data', '6']
Task 2.2: Print pattern
-----------------------------------------------------------------
*

* *

* * *

* * * *

* * * * *

* * * *

* * *

* *

*

Task 2.3: Enter a word to reverse:
-----------------------------------------------------------------
Enter a word to reverseTuesday
yadseuT
Task 2.4: Print the string in sample
-----------------------------------------------------------------
WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,!
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens

1