In [15]:
def is_symmetrical(n):
    s=str(n)
    if s == s[::-1]:
        return True
    else:
        return False
    

print(is_symmetrical(1112111))
print(is_symmetrical(7227))
print(is_symmetrical(12567))

True
True
False

In [49]:
def multiply_nums(s):
    mul = 1
    l=s.split(",")
    i=len(l)-1
    while i!=-1:
        mul=mul*int(l[i])
        i=i-1

    return mul

multiply_nums("1, 2, 3, 4")

24

In [44]:
def square_digits(n):
    l=list(str(n))
    l1=[]
    [l1.append(str(int(i)**2)) for i in l]
    return int("".join(l1))

square_digits(2483)

416649

In [45]:
def setify(l):
    return list(set(l))

setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [54]:
from functools import reduce
def mean(n):
    l=list(str(n))
    s=round(reduce(lambda a, b: int(a)+int(b), l)/len(l))
    return s

mean(42)

['4', '2']

3