In [1]:
# ! Write a Python program to convert kilometers to miles?
import cmath
import calendar


def km_m(km):
    try:
        val = float(km)
        print("{:.2f} miles in {:.4f} kilometers :".format(val*0.6214, val))
    except ValueError:
        print("That's not an numerical value!")
    return 1  # 0.6214*km


km_m("2")
km_m(5.1)
km_m(6)
km_m("Cobra")

1.24 miles in 2.0000 kilometers :
3.17 miles in 5.1000 kilometers :
3.73 miles in 6.0000 kilometers :
That's not an numerical value!

1

In [2]:
# ! Write a Python program to convert Celsius to Fahrenheit?


def c_f(temp):
    try:
        val = float(temp)
        print("{:.2f} Fahrenheit in {:.1f} Celsius :".format((val*9)/5, val))
    except ValueError:
        print("That's not an numerical value!")
    return 1  # 0.6214*km


c_f("2")
c_f(5.1)
c_f(6)
c_f("Cobra")

3.60 Fahrenheit in 2.0 Celsius :
9.18 Fahrenheit in 5.1 Celsius :
10.80 Fahrenheit in 6.0 Celsius :
That's not an numerical value!

1

In [3]:
# ! Write a Python program to display calendar?
def cal(y, m):
    try:
        year = int(y)
        month = int(m)
        # display the calendar
        print(calendar.month(year, month))
    except ValueError:
        print("That's not an numerical value!")
    return 1


cal(2021, 6)
cal(2021, 'jun')
cal(1000, 5)

     June 2021
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

That's not an numerical value!
      May 1000
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

1

In [4]:
# ! Write a Python program to solve quadratic equation?

# import cmath


def quad(x, a=1, b=2, c=4):
    #a = input("Enter value")
    print("Quadratic Equation : {0}*{1}**2 + {2}*{3} + {4}".format(a, x, b, x, c))

    # calculate the discriminant
    d = (b**2) - (4*a*c)

    # fine two solutions
    sol1 = (-b-cmath.sqrt(d))/(2*a)
    sol2 = (-b+cmath.sqrt(d))/(2*a)

    print('The solution are {:.2f} and {:.2f}'.format(sol1, sol2))

    return 1


quad(9)

Quadratic Equation : 1*9**2 + 2*9 + 4
The solution are -1.00-1.73j and -1.00+1.73j

1

In [5]:
# ! Write a Python program to swap two variables without temp variable?

def swap(v1, v2):
    print("Before swap :\t v1 = {v1} \t v2 = {v2}".format(v1=v1, v2=v2))
    v1 = v1 + v2
    v2 = v1 - v2
    v1 = v1 - v2

    print("After swap :\t v1 = {v1} \t v2 = {v2}".format(v1=v1, v2=v2))
    return 1


swap(6, 7)

Before swap :	 v1 = 6 	 v2 = 7
After swap :	 v1 = 7 	 v2 = 6

1