In [1]:
def disarium(n):
    s=(str(n))
    t =0
    for i in range(0,len(s)):
        t=t+ int(s[i]) ** (i+1)
    if t==n:
        #print(n, "is a disarium")
        return True 
    else:
        #print(n, "is a not disarium")
        return False
        
def print_disarium(n):
    if disarium(n) == True:
        print(n, "is a disarium number")
    else:
        print(n, "is not a disarium number")

print_disarium(175)
print_disarium(176)

175 is a disarium number
176 is not a disarium number

In [2]:
a=filter(disarium,list(range(1,100)))
print("Disarium number between 1 and 100 :", list(a))

Disarium number between 1 and 100 : [1, 2, 3, 4, 5, 6, 7, 8, 9, 89]

In [3]:
def happy(n):
    s=str(n)
    m=len(s)
    t=n
    l=[]
    if t < 10:
        t= t**2
    while t>9:
        t=0
        s=str(n)
        for i in range(len(s)):
            t=t+int(s[i])**2
        n=t
    if(t==1):
        return True
    else:
        #print(t)
        return False
happy(7)

True

In [4]:
a=filter(happy,list(range(1,101)))
print("happy number between 1 and 100 :", list(a))

happy number between 1 and 100 : [1, 7, 10, 13, 19, 23, 28, 31, 32, 44, 49, 68, 70, 79, 82, 86, 91, 94, 97, 100]

In [5]:
def harshad(n):
    s=str(n)
    t=0
    for i in range(len(s)):
        t=t+int(s[i])
    if n%t == 0:
        print(n, " is a harshad number ")
    else:
        print(n, " is not a harshad number ")
harshad(18)
harshad(19)

18  is a harshad number
19  is not a harshad number

In [6]:
def pronic(n):
    for i in range(1,n):
        if i*(i+1) == n:
            return True
            break
    else:
        return False
pronic(12)

True

In [7]:
a=filter(pronic,list(range(1,101)))
print("pronic number between 1 and 100 :", list(a))

pronic number between 1 and 100 : [2, 6, 12, 20, 30, 42, 56, 72, 90]